.page-header
  %h2
    Projects
    %button.btn.btn-success.pull-right
      %span.glyphicon.glyphicon-plus
      New

%table.table.table-hover
  %thead
    %th #
    %th Name
    %th Description
    %th.text-right Actions
  %tbody{"ng-repeat" => "project in projects"}
    %tr
      %td {{$index + 1}}
      %td
        %a{href: "#"} {{project.name}}
      %td {{project.description}}
      %td.text-right
        %button.btn.btn-xs.btn-danger{tooltip: "Delete"}
          %span.glyphicon.glyphicon-remove

