%ul.nav.nav-pills.nav-stacked{"ng-controller" => "ProjectsNavCtrl"}
  %li.active
    %a{href: ""} Overview
  %li
    %a{href: ""} Users
  %li
    %a{href: ""} Sprint
  %li
    %a{href: ""} Retrospective
