%h4
  %ol.breadcrumb
    %li 
      %a{href: "/projects"} Projects
    %li
      %a{href: "/projects/{{project._id.$oid}}"} {{project.name}}
    %li{"ng-show" => "sprint"}
      %a{href: "/projects/{{project._id.$oid}}/sprints"} Sprints
    %li{"ng-show" => "sprint"}
      %a{href: "/projects/{{project._id.$oid}}/sprints/{{sprint}}"} {{sprint.name}}
    %li.active Retrospectives
.col-md-2
  %ng-include{src: "'projects/nav.html'"}
.col-md-10
  %select.form-control.input-lg{"ng-model" => "sprint", "ng-options" => "sprint as sprint.name for sprint in sprints", "ng-change" => "get()"}
    %option{value: "", selected: :selected} --- select sprint ---
  %hr
  .alert.alert-info{"ng-hide" => "sprint"} 
    %span.glyphicon.glyphicon-info-sign
    Please select sprint to show sprint's retrospectives list.
  %h3{"ng-hide" => "!sprint"}
    Retrospectives
    %button.btn.btn-success.pull-right{"ng-click" => "new()"}
      %span.glyphicon.glyphicon-plus
      New
  %sc-empty-list{list: "{{retrospectives}}", "ng-hide" => "!sprint"}    
  %table.table.table-hover{"ng-show" => "retrospectives.length"}
    %thead
      %th #
      %th Name
      %th Date
      %th Info
      %th.text-right Actions
    %tbody{"ng-repeat" => "retrospective in retrospectives"}
      %tr
        %td {{$index + 1}}
        %td
          %a{href: "#", "ng-click" => "show($index)"} {{retrospective.name}}
        %td {{retrospective.date}}
        %td
          %span.label.label-success {{retrospective.pluses.length || 0}} pluses
          %span.label.label-danger {{retrospective.minuses.length || 0}} minuses
          %span.label.label-info {{retrospective.ideas.length || 0}} ideas
        %td.text-right
          %button.btn.btn-xs.btn-default{"ng-click" => "show($index)", tooltip: "Show"}
            %span.glyphicon.glyphicon-search
          %button.btn.btn-xs.btn-default{"ng-click" => "edit($index)", tooltip: "Edit"}
            %span.glyphicon.glyphicon-edit
          %button.btn.btn-xs.btn-danger{"ng-click" => "delete($index)", tooltip: "Remove retrospective"}
            %span.glyphicon.glyphicon-remove
          
        