.modal-header
  %h3 Add User
.modal-body
  %form.form-horizontal{name: "addUserToProjectForm"}
    .form-group
      %label.control-label.col-sm-2{for: :user}
        %span.text-danger*
        User
      .col-sm-10
        %input#name.form-control.input{type: "text", name: "user", "ng-model" => "userToAdd",
        typeahead: "user as user.email for user in getUser($viewValue)",
        required: true, placeholder: "Put email or username"}
    .form-group
      %label.control-label.col-sm-2{for: :role}
        Role
      .col-sm-10
        %select.form-control{"ng-model" => "role", "ng-options" => "role._id.$oid as role.name for role in roles"}
.modal-footer
  %button.btn.btn-primary{"ng-click" => "add()",
  "ng-disabled" => "!userToAdd._id"}
    Add
  %button.btn.btn-default{"ng-click" => "cancel()"}
    Cancel
