%h4
  %ol.breadcrumb
    %li 
      %a{href: "/projects"} Projects
    %li
      %a{href: "/projects/{{project._id.$oid}}"} {{project.name}}
    %li.active Sprints
.col-md-2
  %ng-include{src: "'projects/nav.html'"}
.col-md-10
  %h3
    Sprints
    %button.btn.btn-success.pull-right{"ng-click" => "newSprint()"}
      %span.glyphicon.glyphicon-plus
      New
  %hr
  %sc-empty-list{list: "{{sprints}}"}
  %accordion{"close-others" => "true"}
    %accordion-group{"ng-repeat" => "sprint in sprints", "ng-class" => "{'panel-success': sprint.current, 'panel-danger': sprint.closed}"}
      %accordion-heading
        {{sprint.name}}
        %i.pull-right{"ng-show" => "sprint.current"} current
        %i.pull-right{"ng-show" => "sprint.closed"} closed
      .col-md-10
        .form-horizontal
          .form-group-lg
            %label.control-label.col-md-2 Start date:
            .col-md-2
              %p.form-control-static.text-muted {{sprint.start_date | date: "dd.MM.yyyy"}}
            .col-md-8
              %p.form-control-static.text-muted {{sprint.start_date | date: "HH:mm"}}
          .form-group-lg
            %label.control-label.col-md-2 End date:
            .col-md-2
              %p.form-control-static.text-muted {{sprint.end_date | date: "dd.MM.yyyy"}}
            .col-md-8
              %p.form-control-static.text-muted {{sprint.end_date | date: "HH:mm"}}
          .form-group-lg
            %label.control-label.col-md-2 Goal:
            .col-md-6
              %p.form-control-static.text-muted {{sprint.goal}}
      .col-md-2.btn-group-vertical{role: :group}
        %button.btn.btn-danger{"ng-hide" => "sprint.current", "ng-click" => "deleteSprint($index)", "tooltip-placement" => :right, tooltip: "Remove sprint"}
          %span.glyphicon.glyphicon-remove
          Remove
        %button.btn.btn-danger{"ng-show" => "sprint.current", "ng-click" => "closeSprint($index)", "tooltip-placement" => :right, tooltip: "Close sprint"} 
          %span.glyphicon.glyphicon-stop
          Close
        %button.btn.btn-default{"ng-hide" => "sprint.closed || sprint.current", "ng-click" => "startSprint($index)", "tooltip-placement" => :right, tooltip: "Start sprint"}
          %span.glyphicon.glyphicon-play
          Start
        %button.btn.btn-default{"ng-hide" => "sprint.closed || sprint.current", "ng-click" => "updateSprint($index)", "tooltip-placement" => :right, tooltip: "Edit sprint"}
          %span.glyphicon.glyphicon-edit
          Edit
        %button.btn.btn-default{"tooltip-placement" => :right, "ng-click" => "showSprint($index)", tooltip: "Sprint details"}
          %span.glyphicon.glyphicon-search
          Details
  %h3 
    Backlog
    %button.btn.btn-success.pull-right{"ng-click" => "newStory()"}
      %span.glyphicon.glyphicon-plus
      New
  %hr
  .list-group{"ng-class" => "{'col-md-12': !selectedStory, 'col-md-8': selectedStory}"}
    %a.list-group-item{href: "#", "ng-repeat" => "story in stories", "ng-click" => "showStory($index)"}
      %span.badge {{story.points}}
      {{story.title}}
  .col-md-4{"ng-show" => "selectedStory"}
    .btn-group{dropdown: ""}
      %button.btn.btn-default.btn-xs{type: :button, "ng-click" => "updateStory()"}
        Edit
      %button.btn.btn-danger.btn-xs{type: :button, "ng-click" => "deleteStory()"}
        Remove
    %button.close{type: :button, tooltip: "Close", "ng-click" => "closeStoryDetails()"}
      %span &times;
    %hr
    %form
      .form-group
        %label Title:
        %p.form-control-static.text-muted {{selectedStory.title}}
      .form-group{"ng-show" => "selectedStory.summary"}
        %label Summary:
        %p.form-control-static.text-muted {{selectedStory.summary}}
      .form-group
        %label Story points:
        %span.badge {{selectedStory.points}}
    %form.form-horizontal
      .form-group
        %label.control-label.col-md-5 Created by:
        .col-md-6
          %p.form-control-static.text-muted {{selectedStory.created_by}}
      .form-group{"ng-show" => "selectedStory.updated_by"}
        %label.control-label.col-md-5 Updated by:
        .col-md-6
          %p.form-control-static.text-muted {{selectedStory.updated_by}}
      .form-group
        %label.control-label.col-md-5 Created at:
        .col-md-6
          %p.form-control-static.text-muted {{selectedStory.created_at | date: 'dd.MM.yyyy HH:mm'}}
      .form-group{"ng-show" => "selectedStory.updated_at"}
        %label.control-label.col-md-5 Updated at:
        .col-md-6
          %p.form-control-static.text-muted {{selectedStory.updated_at | date: 'dd.MM.yyyy HH:mm'}}
    