%h4
  %ol.breadcrumb
    %li 
      %a{href: "/projects"} Projects
    %li
      %a{href: "/projects/{{project._id.$oid}}"} {{project.name}}
    %li.active Sprints
.col-md-2
  %ng-include{src: "'projects/nav.html'"}
.col-md-10
  %sc-empty-list{list: "{{sprints}}"}
  %accordion{"close-others" => "true"}
    %accordion-group{"ng-repeat" => "sprint in sprints", "ng-class" => "{'panel-success': sprint.current, 'panel-danger': sprint.closed}"}
      %accordion-heading
        {{sprint.name}}
        %i.pull-right{"ng-show" => "sprint.current"} current
        %i.pull-right{"ng-show" => "sprint.closed"} closed
      .col-md-10
        .form-horizontal
          .form-group-lg
            %label.control-label.col-md-2 Start date:
            .col-md-2
              %p.form-control-static.text-muted {{sprint.start_date | date: "dd.MM.yyyy"}}
            .col-md-8
              %p.form-control-static.text-muted {{sprint.start_date | date: "HH:mm"}}
          .form-group-lg
            %label.control-label.col-md-2 End date:
            .col-md-2
              %p.form-control-static.text-muted {{sprint.end_date | date: "dd.MM.yyyy"}}
            .col-md-8
              %p.form-control-static.text-muted {{sprint.end_date | date: "HH:mm"}}
          .form-group-lg
            %label.control-label.col-md-2 Goal:
            .col-md-6
              %p.form-control-static.text-muted {{sprint.goal}}
      .col-md-2.btn-group-vertical{role: :group}
        %button.btn.btn-danger{"ng-hide" => "sprint.current", "ng-click" => "delete($index)", "tooltip-placement" => :right, tooltip: "Remove sprint"}
          %span.glyphicon.glyphicon-remove
          Remove
        %button.btn.btn-danger{"ng-show" => "sprint.current", "ng-click" => "close($index)", "tooltip-placement" => :right, tooltip: "Close sprint"} 
          %span.glyphicon.glyphicon-stop
          Close
        %button.btn.btn-default{"ng-hide" => "sprint.closed || sprint.current", "ng-click" => "start($index)", "tooltip-placement" => :right, tooltip: "Start sprint"}
          %span.glyphicon.glyphicon-play
          Start
        %button.btn.btn-default{"ng-hide" => "sprint.closed || sprint.current", "ng-click" => "update($index)", "tooltip-placement" => :right, tooltip: "Edit sprint"}
          %span.glyphicon.glyphicon-edit
          Edit
        %button.btn.btn-default{"tooltip-placement" => :right, "ng-click" => "show($index)", tooltip: "Sprint details"}
          %span.glyphicon.glyphicon-search
          Details
  %button.btn.btn-success.pull-right{"ng-click" => "new()"}
    %span.glyphicon.glyphicon-plus
    New
