.modal-header
  %h3 Update sprint
.modal-body
  %form.form-horizontal{name: "editSprintForm"}
    .form-group{"sc-valid" => '{{editSprintForm.name}}'}
      %label.control-label.col-sm-2{for: :name}
        %span.text-danger*
        Name
      .col-sm-10
        %input#name.form-control.input{type: :text, name: :name, "ng-model" => "sprint.name", required: true}
        %sc-invalid{value: "{{editSprintForm.name}}"}
    .form-group{"sc-valid" => '{{editSprintForm.start_date}}'}
      %label.control-label.col-sm-2{for: :start_date}
        %span.text-danger*
        Start date
      .col-sm-4
        .input-group
          %input#start_date.form-control.input{type: :text, name: :start_date, "ng-model" => "sprint.start_date", "datepicker-popup" => "dd.MM.yyyy", "is-open" => "datepickers[0].opened", "min-date" => "minDate", "max-date" => "maxDate", "ng-change" => "updateEndDate()", required: true, readonly: :readonly}
          %span.input-group-btn
            %button.btn.btn-default{type: :button, "ng-click" => "open($event, 0)"}
              %span.glyphicon.glyphicon-calendar
        %sc-invalid{value: "{{editSprintForm.start_date}}"}
      .col-sm-2
        %timepicker{"ng-model" => "sprint.start_date", "show-spinners" => "false", "show-meridian" => "false"}
    .form-group{"sc-valid" => '{{editSprintForm.end_date}}'}
      %label.control-label.col-sm-2{for: :end_date}
        %span.text-danger*
        End date
      .col-sm-4
        .input-group
          %input#end_date.form-control.input{type: :text, name: :end_date, "ng-model" => "sprint.end_date", "datepicker-popup" => "dd.MM.yyyy", "is-open" => "datepickers[1].opened", "min-date" => "sprint.start_date", "max-date" => "maxDate", required: true, readonly: :readonly}
          %span.input-group-btn
            %button.btn.btn-default{type: :button, "ng-click" => "open($event, 1)"}
              %span.glyphicon.glyphicon-calendar
        %sc-invalid{value: "{{editSprintForm.end_date}}"}
      .col-sm-2
        %timepicker{"ng-model" => "sprint.end_date", "show-spinners" => "false", "show-meridian" => "false"}
    .form-group
      %label.control-label.col-sm-2{for: :goal} Goal
      .col-sm-10
        %textarea.form-control{rows: "3", name: "goal", "ng-model" => "sprint.goal"}
.modal-footer
  %button.btn.btn-primary{"ng-click" => "update()", "ng-disabled" => "!editSprintForm.$valid"}
    Update
  %button.btn.btn-default{"ng-click" => "cancel()"}
    Cancel
