.modal-header
  %h3 New notebook
.modal-body
  %form.form-horizontal{name: "createNotebookForm"}
    .form-group{"sc-valid" => '{{createNotebookForm.name}}'}
      %label.control-label.col-sm-2{for: :name}
        %span.text-danger*
        Name
      .col-sm-10
        %input#name.form-control.input{type: "text", name: "name", "ng-model" => "notebook.name", required: true}
        %sc-invalid{value: "{{createNotebookForm.name}}"}
    .form-group
      %label.control-label.col-sm-2{for: :description} Description
      .col-sm-10
        %textarea.form-control{rows: "3", name: "description", "ng-model" => "notebook.description"}
.modal-footer
  %button.btn.btn-primary{"ng-click" => "create()", "ng-disabled" => "!createNotebookForm.$valid"}
    Create
  %button.btn.btn-default{"ng-click" => "cancel()"}
    Cancel