%h4
  %ol.breadcrumb
    %li 
      %a{href: "/projects"} Projects
    %li
      %a{href: "/projects/{{project._id.$oid}}"} {{project.name}}
    %li
      %a{href: "/projects/{{project._id.$oid}}/notebooks"} Notebooks
    %li.active {{notebook.name}}
.col-md-2
  %ng-include{src: "'projects/nav.html'"}
.col-md-10
  %h3
    Notes
    .btn-group.pull-right{dropdown: ""}
      %button.btn.btn-success{type: :button, "ng-click" => "add()", "ng-disabled" => "temp"}
        %span.glyphicon.glyphicon-plus 
        New
      %button.btn.btn-danger{type: :button, "ng-click" => "deleteAll()", "ng-show" => "!notebook.removable && !notebook.default && notes.length"}
        Empty trash
      %button#actionsDropdown.btn.btn-default{"dropdown-toggle" => "", "ng-disabled" => "temp", "ng-show" => "notebook.removable"}
        %span.caret
      %ul.dropdown-menu{"aria-labelledby" => "actionsDropdown"}
        %li{ }
          %a{href: "#", "ng-click" => "markAsDefault()", "ng-show" => "!notebook.default"} Mark notebook as default
        %li
          %a{href: "#", "ng-click" => "deleteNotebook()", "ng-show" => "notebook.removable"} Remove notebook      
  %hr
  %sc-empty-list{list: "{{notes}}"}
  .row
    .col-md-4{"ng-repeat" => "note in notes track by $index"}
      .thumbnail
        .caption
          %span{"ng-show" => "note.created_by"}
            Created by 
            %a{href: "#"} {{note.created_by}}
            .btn-group.pull-right{dropdown: ""}
              %button.btn.btn-default.btn-xs{id: "dropdown{{$index}}", type: :button, "dropdown-toggle" => ""}
                %span.glyphicon.glyphicon-option-horizontal
              %ul.dropdown-menu{"aria-labelledby" => "dropdown{{$index}}"}
                %li
                  %a{href: "", "ng-click" => "noteForm.$show()"} Edit
                %li{"ng-show" => "notebook.removable || notebook.default"}
                  %a{href: "", "ng-click" => "moveToTrash($index)"} Move to trash
                %li{"ng-show" => "!notebook.removable && !notebook.default"}
                  %a{href: "", "ng-click" => "delete($index)"} Remove
          %h5.text-muted{"ng-show" => "note.created_at"}
            %span.glyphicon.glyphicon-calendar
            {{note.created_at | date: "dd.MM.yyyy HH:mm"}}
          %h4
            %span{"editable-textarea" => "note.text", "e-name" => "text", "e-form" => "noteForm", "e-required" => "", "onbeforesave" => "checkText($data)"} {{note.text}}
            %form{"editable-form" => "", name: "noteForm", "ng-show" => "noteForm.$visible", shown: "temp.text == note.text", "onbeforesave" => "save($data, $index)"}
              %button.btn.btn-primary{type: :submit} Save
              %button.btn.btn-default{type: :button, "ng-click" => "noteForm.$cancel(); cancel($index)"} Cancel
              