.modal-header
  %h3 Add User
.modal-body
  %form.form-horizontal{name: "addUserToProjectForm"}
    .form-group
      %label.control-label.col-sm-2{for: :user}
        %span.text-danger*
        User
      .col-sm-10
        %input#name.form-control.input{type: "text", name: "user", "ng-model" => "userToAdd",
        typeahead: "users for users in getUser($viewValue)", required: true}

  %pre {{usersToAdd | json}}

.modal-footer
  %button.btn.btn-primary{"ng-click" => "add()",
  "ng-disabled" => "!createProjectForm.$valid"}
    Add
  %button.btn.btn-default{"ng-click" => "cancel()"}
    Cancel
