.modal-header
  %h3 New role
.modal-body
  %form.form-horizontal{name: "createRoleForm"}
    .form-group{"sc-valid" => '{{createRoleForm.name}}'}
      %label.control-label.col-sm-2{for: :name}
        %span.text-danger*
        Name
      .col-sm-10
        %input#name.form-control.input{type: "text", name: "name",
        "ng-model" => "role.name", required: true}
        %sc-invalid{value: "{{createRoleForm.name}}"}
.modal-footer
  %button.btn.btn-primary{"ng-click" => "create()",
  "ng-disabled" => "!createRoleForm.$valid"}
    Create
  %button.btn.btn-default{"ng-click" => "cancel()"}
    Cancel