.modal-header
  %h3 Close sprint
.modal-body.text-danger
  %h4 Are you sure you want to close this sprint?
.modal-footer
  %button.btn.btn-danger{"ng-click" => "$close(true)"}
    Yes
  %button.btn.btn-default{"ng-click" => "$dismiss()"}
    No