%nav.navbar.navbar-default
  .container{"ng-controller" => "HeaderCtrl"}
    .navbar-header
      %span.navbar-brand ScrumAid
    %ul.nav.navbar-nav.navbar-right
      %li
        %a {{isAuthenticated()}}
.container
  %div{"ng-view" => ""}