%nav.navbar.navbar-default
  .container{"ng-controller" => "HeaderCtrl"}
    .navbar-header
      %span.navbar-brand ScrumAid
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{href: "", "ng-show" => "isAuthenticated()", "ng-click" => "signOut()"} Sign out
        %li
          %button.btn.btn-success.navbar-btn{"ng-show" => "!isAuthenticated()",
          "ng-click" => "redirectTo('/register')"} Sign up
          %button.btn.btn-default.navbar-btn{"ng-show" => "!isAuthenticated()",
          "ng-click" => "redirectTo('/login')"} Sign in
.container
  %div{"ng-view" => ""}